:root{
    --main-color: rgb(29, 54, 177);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
}

.container{
    height: 100vh;
    padding: 10px;
}

.h div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.h div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.h div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.h div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.h div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.h div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -20px;
    left: 15px;
}

.h div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -30px;
    left: 30px;
}

.h div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.h div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.h div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 45px;
}

.h div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.h div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 45px;
}

.a div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.a div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.a div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.a div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.a div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.a div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -20px;
    left: 15px;
}

.a div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -30px;
    left: 30px;
}

.a div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.a div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.a div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 45px;
}

.a div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.a div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 45px;
}

.a div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -120px;
    left: 15px;
}

.a div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -130px;
    left: 30px;
}

.p div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.p div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
}

.p div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
}

.p div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
}

.p div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.p div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 15px;
}

.p div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 30px;
}

.p div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 45px;
}

.p div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -80px;
    left: 45px;
}

.p div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 45px;
}

.p div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 30px;
}

.p div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -95px;
    left: 15px;
}

.p2 div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.p2 div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
}

.p2 div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
}

.p2 div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
}

.p2 div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.p2 div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 15px;
}

.p2 div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 30px;
}

.p2 div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 45px;
}

.p2 div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -80px;
    left: 45px;
}

.p2 div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 45px;
}

.p2 div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 30px;
}

.p2 div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -95px;
    left: 15px;
}

.y div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
}

.y div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
    left: 15px;
}

.y div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
    left: 22.5px;
}

.y div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -15px;
    left: 30px;
}

.y div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -40px;
    left: 45px;
}

.y div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
    left: 22.5px;
}

.y div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
    left: 22.5px;
}


