:root{
    --main-color: rgb(29, 177, 51);
    --color-2: blue;
    --color-3: green;
    --color-4: red;
    --color-5: yellow;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    overflow: hidden;
}

.container{
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 400px;
    height: 400px;
}

.container div{
    width: 55px;
}

.container div div{
    box-shadow: var(--main-color) 2px 2px 10px;
}

.h div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.h div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.h div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.h div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.h div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.h div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -20px;
    left: 15px;
}

.h div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -30px;
    left: 30px;
}

.h div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.h div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.h div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 45px;
}

.h div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.h div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 45px;
}

.a{
    position: relative;
    left: 80px;
    top: -120px;
}

.a div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.a div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.a div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.a div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.a div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.a div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -20px;
    left: 15px;
}

.a div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -30px;
    left: 30px;
}

.a div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.a div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.a div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 45px;
}

.a div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.a div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 45px;
}

.a div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -120px;
    left: 15px;
}

.a div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -130px;
    left: 30px;
}

.p{
    position: relative;
    left: 160px;
    top: -245px;
}

.p div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.p div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
}

.p div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
}

.p div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
}

.p div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.p div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 15px;
}

.p div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 30px;
}

.p div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 45px;
}

.p div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -80px;
    left: 45px;
}

.p div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 45px;
}

.p div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 30px;
}

.p div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -95px;
    left: 15px;
}

.p2{
    position: relative;
    left: 240px;
    top: -365px;
}

.p2 div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.p2 div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
}

.p2 div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
}

.p2 div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
}

.p2 div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.p2 div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 15px;
}

.p2 div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 30px;
}

.p2 div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 45px;
}

.p2 div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -80px;
    left: 45px;
}

.p2 div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 45px;
}

.p2 div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 30px;
}

.p2 div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -95px;
    left: 15px;
}

.y{
    position: relative;
    left: 320px;
    top: -500px;
}

.y div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
}

.y div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
    left: 15px;
}

.y div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
    left: 22.5px;
}

.y div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -15px;
    left: 30px;
}

.y div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -40px;
    left: 45px;
}

.y div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
    left: 22.5px;
}

.y div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
    left: 22.5px;
}

.y div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 0px;
}

.y div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.n{
    position: relative;
    top: -480px;
}

.n div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
}

.n div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.n div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.n div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.n div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.n div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -35px;
    left: 15px;
}

.n div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -15px;
    left: 30px;
}

.n div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.n div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.n div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 45px;
}

.n div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.n div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 45px;
}

.n div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -90px;
    left: 22.5px;
}

.e{
    position: relative;
    top: -610px;
    left: 80px;
}

.e div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.e div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.e div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.e div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.e div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.e div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 15px;
}

.e div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 30px;
}

.e div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.e div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 15px;
}

.e div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 30px;
}

.e div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.e div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 15px;
}

.e div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 30px;
}

.e div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.w{
    position: relative;
    top: -750px;
    left: 160px;
}

.w div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.w div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.w div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.w div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.w div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.w div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
    left: 15px;
}

.w div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -15px;
    left: 22.5px;
}

.w div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -40px;
    left: 22.5px;
}

.w div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -20px;
    left: 30px;
}

.w div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -30px;
    left: 45px;
}

.w div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.w div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -80px;
    left: 45px;
}

.w div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -105px;
    left: 45px;
}

.w div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -130px;
    left: 45px;
}

.y2{
    position: relative;
    left: 0px;
    top: -780px;
}

.y2 div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
}

.y2 div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
    left: 15px;
}

.y2 div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
    left: 22.5px;
}

.y2 div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -15px;
    left: 30px;
}

.y2 div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -40px;
    left: 45px;
}

.y2 div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
    left: 22.5px;
}

.y2 div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
    left: 22.5px;
}

.y2 div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 0px;
}

.y2 div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.e2{
    position: relative;
    top: -870px;
    left: 80px;
}

.e2 div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.e2 div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.e2 div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.e2 div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.e2 div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.e2 div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 15px;
}

.e2 div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 30px;
}

.e2 div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.e2 div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 15px;
}

.e2 div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 30px;
}

.e2 div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.e2 div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 15px;
}

.e2 div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 30px;
}

.e2 div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.a2{
    position: relative;
    left: 160px;
    top: -1010px;
}

.a2 div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.a2 div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.a2 div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 10px;
}

.a2 div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 15px;
}

.a2 div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 20px;
}

.a2 div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -20px;
    left: 15px;
}

.a2 div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -30px;
    left: 30px;
}

.a2 div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -70px;
    left: 45px;
}

.a2 div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 45px;
}

.a2 div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -60px;
    left: 45px;
}

.a2 div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -55px;
    left: 45px;
}

.a2 div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -50px;
    left: 45px;
}

.a2 div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -120px;
    left: 15px;
}

.a2 div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -130px;
    left: 30px;
}


.r{
    position: relative;
    left: 240px;
    top: -1135px;
}

.r div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
}

.r div:nth-child(2){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -25px;
}

.r div:nth-child(3){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -5px;
}

.r div:nth-child(4){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
}

.r div:nth-child(5){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: 5px;
}

.r div:nth-child(6){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -65px;
    left: 15px;
}

.r div:nth-child(7){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 30px;
}

.r div:nth-child(8){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 45px;
}

.r div:nth-child(9){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -80px;
    left: 45px;
}

.r div:nth-child(10){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -75px;
    left: 45px;
}

.r div:nth-child(11){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 30px;
}

.r div:nth-child(12){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -95px;
    left: 15px;
}

.r div:nth-child(13){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -90px;
    left: 25px;
}

.r div:nth-child(14){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -85px;
    left: 30px;
}

.r div:nth-child(15){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
    top: -95px;
    left: 45px;
}

.two{
    background: var(--main-color);
    position: relative;
    top: -1200px;
}

.two div:nth-child(1){
    background: var(--main-color);
    width: 10px;
    height: 10px;
    position: relative;
}

@keyframes animation1{
    
    50%{
        transform: scale(1) skew(360deg) rotate(360deg);
        opacity: .5;
        background: rgb(16, 16, 177);
    }
    
}